<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials :: head ('Show Question')"></head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2 th:text="${post.title}"></h2>
    <p style="padding-left: 2rem;" th:utext="${post.description}"></p>

    <p th:unless="${post.updateDate == null}" style="padding-left: 2rem;" th:text="${post.formattedUpdate()}"></p>

    <p style="padding-left: 2rem;" th:text="${post.user.username}"></p>

    <!-- Edit/delete post if post author -->
    <div th:unless="${#authentication.name != post.user.email}">
        <a th:href="@{|/posts/edit/${post.id}|}"><button class="edit-button">Edit</button></a>
        <a th:href="@{|/posts/delete/${post.id}|}"><button class="delete-button">Delete</button></a>
    </div>

    <div th:unless="${#lists.isEmpty(responses)}">
        <h3 style="padding-top: 15px">Responses:</h3>
        <!-- Display video responses -->
        <div class="post-div mb-3 col-md-8" th:each="res : ${responses}">
            <p th:text="'Posted by: ' + ${res.user.username}"></p>
            <div class="video-responsive" th:utext="${res.video}" style="min-height: 450px"></div>

            <!-- Edit/delete response if response author -->
            <div th:unless="${#authentication.name != res.user.email}">
                <a th:href="@{|/posts/${post.id}/edit-response/${res.id}|}"><button class="edit-button">Edit</button></a>
                <a th:href="@{|/posts/${post.id}/delete-response/${res.id}|}"><button class="delete-button">Delete</button></a>
            </div>

            <!-- Display comments for video responses -->
            <div th:unless="${#lists.isEmpty(comments)}">
                <div class="post-div mb-3 col-md-8" th:each="com : ${comments}">
                    <div th:unless="${res.id != com.response.id}" class="comment">
                        <hr>
                        <p th:text="${com.body}" style="padding-top: 7px"></p>
                        <p th:text="${'Posted by: ' + com.user.username}"></p>
                        <hr>

                        <!-- Delete Comment if comment author -->
                        <div th:unless="${#authentication.name != com.user.email}">
                            <a th:href="@{|/posts/${post.id}/response/${res.id}/delete-comment/${com.id}|}"><button class="delete-button">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add a comment -->
            <div sec:authorize="isAuthenticated()">
                <button class="add-comment">Add a Comment</button>
                <form th:action="@{|/posts/${post.id}/response/${res.id}/create-comment|}" th:method="post" th:object="${comment}" class="create-comment-form">
                    <div class="form-group">
                        <label for="create-comment">Comment:</label>
                        <textarea class="form-control" id="create-comment" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit">Submit Comment</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <p class="font-weight-bold">Please <a href="/login">log in</a> or <a href="/register">register</a> to add a comment.</p>
            </div>
        </div>
    </div>

    <!-- Add a video response -->
    <div sec:authorize="isAuthenticated()">
        <button class="add-video-response">Add a Video Response</button>
        <form th:action="@{|/posts/${post.id}/create-response|}" th:method="post" th:object="${response}" class="video-response-form">
            <div class="form-group">
                <label for="video-url">Video URL:<br><span class="small">(YouTube, Vimeo, DailyMotion, etc... embed code or upload via FileStack)</span></label>
                <textarea class="form-control" id="video-url" th:field="*{video}"></textarea>
            </div>
            <div class="form-group">
                <div id="fs-upload" style="width: 100%; height: 200px;"></div>
            </div>
            <p class="slide-right">If you wish, you may use our in-built screen recorder to record a response and upload it above! Just visit our <a href="/screen-recorder">Screen Recorder</a> page.</p>
            <button type="submit">Submit Video Response</button>
        </form>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <p class="font-weight-bold">Please <a href="/login">log in</a> or <a href="/register">register</a> to add a video response.</p>
    </div>
    <br>

</div>

<div class="profile-box-container">
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>