<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials :: head ('Show Question')"></head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2 th:text="${post.title}"></h2>
    <p style="padding-left: 2rem;" th:utext="${post.description}"></p>
    <p style="padding-left: 2rem;" th:text="${post.updateDate}"></p>
    <p style="padding-left: 2rem;" th:text="${post.user.username}"></p>

    <div th:unless="${#lists.isEmpty(responses)}">
        <h3>Responses:</h3>
        <!-- Display video responses -->
        <div class="post-div mb-3 col-md-8" th:each="res : ${responses}">
            <p th:text="'Posted by: ' + ${post.user.username}"></p>
            <div class="video-responsive" th:utext="${res.video}"></div>

            <!-- Display comments for video responses -->
            <div th:unless="${#lists.isEmpty(comments)}">
                <div class="post-div mb-3 col-md-5" th:each="com : ${comments}">
                    <p th:text="${com.body}"></p>
                    <p th:text="${'Posted by: ' + com.user.username}"></p>
                    <div th:unless="${#authentication.name != com.user.email}">
                        <button class="btn btn-warning">Edit</button>
                    </div>
                </div>
            </div>

            <!-- Add a comment -->
            <div sec:authorize="isAuthenticated()">
                <button class="add-comment">Add a Comment</button>
                <form th:action="@{|/posts/${post.id}/response/${res.id}/create-comment|}" th:method="post" th:object="${comment}" class="comment-form">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" id="comment" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit">Submit Comment</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <p class="font-weight-bold">Please <a href="/login">log in</a> or <a href="/register">register</a> to add a comment.</p>
            </div>
        </div>
    </div>

    <!-- Add a video response -->
    <div sec:authorize="isAuthenticated()">
        <button class="add-video-response">Add a Video Response</button>
        <form th:action="@{|/posts/${post.id}/create-response|}" th:method="post" th:object="${response}" class="video-response-form">
            <div class="form-group">
                <label for="video">Video Embed URL:<br><span class="small">(YouTube, Vimeo, DailyMotion, etc...)</span></label>
                <textarea class="form-control" id="video" th:field="*{video}"></textarea>
            </div>
            <button type="submit">Submit Video Response</button>
        </form>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <p class="font-weight-bold">Please <a href="/login">log in</a> or <a href="/register">register</a> to add a video response.</p>
    </div>
    <br>
    <!--            testing JS screen recorder-->
    <div sec:authorize="isAuthenticated()">
        <p class="slide-right">Use our in-built screen recorder if you wish! Get some views on another platform and use embedded link to post response here! Two for one!</p>
        <video width="320" height="240" autoplay></video><br>
        <button id="shareScreen">Capture Screen</button>
        <button id="rec" disabled>Record</button>
        <button id="stop" disabled>Stop</button>
        <a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href></a>
        <div id="error"></div>
    </div>
</div>

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>