<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <head th:replace="partials/partials :: head ('Edit your profile')"></head>
</head>
<style>

    label {
        font-family: 'Staatliches', cursive;
    }

</style>
<body>
<nav th:replace="partials/partials :: navbar"></nav>


<div id="main-form" sec:authorize="isAuthenticated()" th:unless="${#authentication.name != user.username}" class="container">

    <form class="row justify-content-center md-center" th:method="post" th:action="@{'/user/edit/' + ${user.id}}" th:object="${user}">

    <!--    User can edit their user name-->
    <div class="form-group col-md-8">
        <label for="username">Edit Username</label>
        <input class="form-control" type="text" id="username" th:field="*{username}" th:value="${user.username}" required/>
    </div>

    <div class="form-group col-md-8">
    <!--    User can change their email-->
        <label for="email">Edit Email</label>
        <input class="form-control" type="email" id="email" th:field="*{email}" th:value="${user.email}" required/>
    </div>

    <!--    User can change their password-->
    <div class="form-group col-md-8">
        <label for="password">Change Password</label>
        <input class="form-control" type="password" id="password" th:field="*{password}" required/>
    </div>

    <div class="form-group col-md-8">
    <!--    User can change their first name-->
        <label for="firstName">Change First Name</label>
        <input class="form-control" type="text" id="firstName" th:field="*{firstName}" th:value="${user.firstName}" required/>
    </div>
        <!--    User can change their first name-->
        <div class="form-group col-md-8">
        <label for="lastName">Change Last Name</label>
        <input class="form-control" type="text" id="lastName" th:field="*{lastName}" th:value="${user.lastName}" required/>
        </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
            <button style="text-align: center" type="submit">Submit Changes</button>
            </div>
        </div>
    </div>

</form>

    <div class="container">
        <div class="row">
            <div class="col text-center">
<!--                Confirms if the user wants to actually delete the account-->
<!--                <a th:href="@{'/user/delete/' + ${user.id}}"><button style="text-align: center" id="delete" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</button></a>-->
                <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    Delete Account
                </button>
            </div>
        </div>
    </div>

</div>
</div>

<!-- Button trigger modal -->
<!--<button type="button" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--    Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete your account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Once you delete your account, it cannot be recovered and you will lose all your information and post history by doing so. Please be sure you are certain you want to delete your account.
            </div>
            <div class="modal-footer">
                <a href=""><button type="button" data-dismiss="modal" style="text-align: center">Cancel</button></a>
<!--                onclick="return confirm('Are you sure you want to delete your account?')"-->
                <a th:href="@{'/user/delete/' + ${user.id}}"><button style="text-align: center" id="delete-1">DELETE ACCOUNT</button></a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

<!--<div class="profile-box-container">-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--    <div class="profile-box"></div>-->
<!--</div>-->

<!--<div class="container d-flex justify-content-center" sec:authorize="isAuthenticated()" th:unless="${#authentication.name != user.email}">-->
<!--    &lt;!&ndash;    This form will allow the user to delete their account&ndash;&gt;-->
<!--    <button style="margin-right: 37px"><a th:href="@{'/user/delete/' + ${user.id}}">Delete Account</a></button>-->
<!--</div>-->

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

</body>
</html>