<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <head th:replace="partials/partials :: head ('Edit your profile')"></head>
</head>
<style>

    label {
        font-family: 'Staatliches', cursive;
        /*margin-left: 25%;*/
    }
    /*input{*/
    /*    margin-left: 25%;*/
    /*}*/

</style>
<body>
<nav th:replace="partials/partials :: navbar"></nav>


<div id="main-form" sec:authorize="isAuthenticated()" th:unless="${#authentication.name != user.email}" class="d-flex justify-content-center ">
<form class="form-inline justify-content-center" th:method="post" th:action="@{'/user/edit/' + ${user.id}}" th:object="${user}">
    <div>
    <!--    User can edit their user name-->
        <label for="username">Edit Username</label>
        <input class="form-control" type="text" id="username" th:field="*{username}" th:value="${user.username}">

    <!--    User can change their email-->
        <label for="email">Edit Email</label>
        <input class="form-control" type="email" id="email" th:field="*{email}" th:value="${user.email}">

    <!--    User can change their password-->
        <label for="password">Change Password</label>
        <input class="form-control" type="password" id="password" th:field="*{password}" th:value="${user.password}">

    <!--    User can change their first name-->
        <label for="firstName">Change First Name</label>
        <input class="form-control" type="text" id="firstName" th:field="*{firstName}" th:value="${user.firstName}">

        <!--    User can change their first name-->
        <label for="lastName">Change Last Name</label>
        <input class="form-control" type="text" id="lastName" th:field="*{lastName}" th:value="${user.lastName}">

    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
            <button style="text-align: center" type="submit">Submit Changes</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
            <a th:href="@{'/user/delete/' + ${user.id}}"><button style="text-align: center">Delete Account</button></a>
            </div>
        </div>
    </div>

</form>
</div>

<div class="profile-box-container">
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
</div>

<!--<div class="container d-flex justify-content-center" sec:authorize="isAuthenticated()" th:unless="${#authentication.name != user.email}">-->
<!--    &lt;!&ndash;    This form will allow the user to delete their account&ndash;&gt;-->
<!--    <button style="margin-right: 37px"><a th:href="@{'/user/delete/' + ${user.id}}">Delete Account</a></button>-->
<!--</div>-->
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>