<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head ('Login')"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<div class="container">

    <h1 class="login pt-5 text-center">L<span class="phi">Φ</span>g In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form class="form-group col-md-6 slide-right" th:action="@{/login}" th:object="${user}" method="post">
        <label for="username">Username</label>
        <input id="username" class="form-control" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" class="form-control" name="password" type="password" />
        <button><input id="login-input" type="submit" value="Login" /></button>
    </form>

    <div class="container triangle-container">
        <div class="triangle" id="tri-1">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-2">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-3">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-4">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-5">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-6">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-7">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-8">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-9">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-10">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-11">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-12">
            <img src="img/greek.svg" alt="">
        </div>
        <div class="triangle" id="tri-13">
            <img src="img/greek.svg" alt="">
        </div>
    </div>
</div>
<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>