<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" style="background-color: #d4c850">
<head th:replace="partials/partials :: head ('Profile')"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<!--<div class="container" sec:authorize="isAuthenticated()" th:unless="${#authentication.name != user.email}">-->
<div class="container">
    <h2 class="slide-right">Your Recent Posts</h2>
    <br>
    <div class="post-div mb-3 slide-right row justify-content-md-center" th:each="post : ${posts}">
        <div class="col-1">
            <p th:utext="${post.responses.size() + '<br>responses'}" class="small text-center"></p>
        </div>
        <div class="col-8">
            <h2><a th:href="@{|/posts/${post.id}|}" th:text="${post.title}"></a></h2>
            <th:block th:unless="${#lists.isEmpty(post.categories)}">
                <th:block th:each="category : ${post.categories}">
                    <th:block th:unless="${post.id != category.post.id}">
                        <p th:text="${'Tags: ' + category.name}"></p>
                    </th:block>
                </th:block>
            </th:block>
            <p class="text-right">Asked by: <span th:text="${post.user.username + ' ' + post.createDate}"></span></p>
        </div>
    </div>


<a th:href="@{|/user/edit/${user.getId()}|}"><button style="width: 55px">Edit</button></a>
<br><br>
</div>


<div class="profile-box-container">
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
    <div class="profile-box"></div>
</div>
<!--<a th:href="@{|/user/edit/${user.getId()}|}" class="btn btn-warning">Edit</a>-->

<!--<button type="button" class="btn btn-warning">Warning</button>-->
<!--<a th:href="@{'/user/edit/' + ${user.id}}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true" style="width: 200px">Edit Profile</a>\-->

<!--<a href="/logout">Logout</a>-->

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>