<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head ('Profile')"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<!--<div class="container" sec:authorize="isAuthenticated()" th:unless="${#authentication.name != user.email}">-->
<div class="container">
    <h2 class="slide-right">Your Recent Posts</h2>
    <br>
    <ul class="slide-right">
<!--        th:action="@{'/user/profile/' + ${users.id}}" -->
        <div th:each="posts : ${post}">
            <li><a th:href="@{'/posts/'+${posts.id}}"><h3 style="font-weight: bold" th:text="${posts.title}" th:href="@{|/posts/${posts.id}|}"></h3></a>
                <p style="padding-left: 2rem;" th:text="${posts.getCreateDate()}"></p></tr>
                <br></li>
        </div>
    </ul>
</div>

<a th:href="@{|/user/edit/${user.getId()}|}" class="btn btn-warning">Edit</a>
<!--<button type="button" class="btn btn-warning">Warning</button>-->
<!--<a th:href="@{'/user/edit/' + ${user.id}}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true" style="width: 200px">Edit Profile</a>\-->

<a href="/logout">Logout</a>

<!--<div class="container triangle-container">-->
<!--    <div class="triangle" id="tri-1">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-2">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-3">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-4">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-5">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-6">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-7">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-8">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-9">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-10">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-11">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-12">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--    <div class="triangle" id="tri-13">-->
<!--        <img src="img/greek.svg" alt="">-->
<!--    </div>-->
<!--</div>-->

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>