<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head ('Create a new account!')"></head>
<body>

<nav th:replace="partials/partials :: navbar"></nav>

<form class="form-group col-md-6 slide-right" th:action="@{/register}" method="POST" th:object="${user}">

    <label for="firstName">First Name</label>
    <input id="firstName" class="form-control" type="text" th:field="*{firstName}" required/>

    <label for="lastName">Last Name</label>
    <input id="lastName" class="form-control" type="text" th:field="*{lastName}" required/>

    <label for="username">Username</label>
    <input id="username" class="form-control" th:field="*{username}" required/>

    <label for="email">Email</label>
    <input id="email" class="form-control" th:field="*{email}" required/>

    <label for="password">Password</label>
    <input id="password" class="form-control" type="password" th:field="*{password}" requireda/>

    <button><input id="register-input" value="Sign me up!" type="submit" /></button>
</form>

<div class="container diamond-container">
    <div class="diamond" id="dia-1">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-2">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-3">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-4">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-5">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-6">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-7">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-8">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-9">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-10">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-11">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-12">
        <img src="img/labyrinth.svg" alt="">
    </div>
    <div class="diamond" id="dia-13">
        <img src="img/labyrinth.svg" alt="">
    </div>
</div>
<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>