<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form class="form-inline my-2 my-lg-0" action="/posts/search">
    <input class="form-control mr-sm-2" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="d-flex justify-content-center">
    <div>
        <div class="post-div mb-3 slide-right" th:each="post : ${posts}">
            <h2><a th:href="@{|/posts/${post.id}|}" th:text="${post.title}"></a></h2>
            <p>Asked by: <span th:text="${post.user.username}"></span></p>
        </div>
    </div>
</div>
</body>
</html>