/*media queries*/
@media (max-width: 999px){
    .nav-item, a.nav-link {
        text-align: center;
        margin: auto;
    }
}
@media (max-width: 900px) {
    .profile-box-container, .profile-box, #left-arrow, #right-arrow, #cloud, .right-home-para, .left-home-para {
        display: none;
    }
}


/* settings for removing blue outline when input/button clicked */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*****************/

/*blockquote, headings and pre tags*/
blockquote {
    padding: 10px 20px;
    border-left: 5px solid #f86466
}

pre {
    padding: 10px;
    background-color: #eff0f1;
    border: 1px solid #c8ccd0;
    border-radius: 5px;
    font-family: courier;
}
h2, h3, a {
    font-family: 'Staatliches', cursive;
}
a {
    color: #d4c850;
    transition: 295ms ease;
}
a:hover {
    color: #65fce1;
}
/****************/


/* HOME PAGE */
.welcome {
    position: absolute;
    color: white;
    z-index: -5;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Optima";

}
.left-home-para {
    position: absolute;
    color: black;
    left: 50%;
    margin-top: 39.7%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
}
.right-home-para {
    position: absolute;
    color: black;
    right: -30.5%;
    margin-top: 39.5%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: 1s all cubic-bezier(.87, .76, .33, .98);
    overflow: hidden;
}

.split.left {
    left: 0;
    background: #65fce1;
}

.split.right {
    right: 0;
    background: #f7d000;
}

.hover-left .split.left {
    width: 60%;
}

.hover-left .split.right {
    width: 40%;
}

.hover-right .split.right {
    width: 60%;
}

.hover-right .split.left {
    width: 40%;
}

.left-div-img{
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-div-img {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    width: 600px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(.87, .76, .33, .98);
}

.hover-left .split.left .text {
    transform: translate(-40%, -50%);
}

.hover-left .split.right .text {
    transform: translate(-40%, -50%);
}

.hover-right .split.right .text {
    transform: translate(-60%, -50%);
}

.hover-right .split.left .text {
    transform: translate(-45%, -50%);
}

#home-o-letter {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    border: 17px solid blue;
    border-radius: 50%;
    align-items: center;
    animation: homeBorderColors 5s ease-in-out infinite;
}
@keyframes homeBorderColors {
    0%{
        border-color: #f7d000;
    }
    50%{
        border-color: #d4c850;
    }
    100%{
        border-color: #f7d000;
    }
}

/*may not need - redundant*/
#home-c-letter {
    height: 150px;
    width: 150px;
    margin: auto;
    position: relative;
    border-right: 10px solid transparent;
    border-top: 10px solid #65fce1;
    border-left: 10px solid #65fce1;
    border-bottom: 10px solid #65fce1;
    border-radius: 50%;
    transform: rotate(-45deg);
}
/*@keyframes rotation {*/
/*    0% {*/
/*        transform: rotate(-45deg);*/
/*        border-color: #65fce1;*/
/*        border-right: 10px solid transparent;*/
/*    }*/

/*    57%{*/
/*        border-color: #03fcdb;*/
/*        border-right: 10px solid transparent;*/
/*        opacity: 0.1;*/
/*    }*/
/*    100%{*/
/*        transform: rotate(315deg);*/
/*        border-color: #65fce1;*/
/*        border-right: 10px solid transparent;*/
/*    }*/
/*}*/

.home-button {
    font-family: 'Arial';
    background-color: #d4c850;
    border-radius: 100vmax;
    border: 5px solid #fff;
    height: 50px;
    width: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #343a40;
    position: absolute;
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
}
.home-button:hover {
    transition: ease-out 295ms;
    background-color: #d4c850;
    color: #fff;
    cursor: pointer;
}
/*****************************/








/*navbar content*/
div#navbarSupportedContent.collapse.navbar-collapse {
    background-color: #d4c850;
    border-radius: 100vmax;
}

a.navbar-brand {
    font-family: 'GFS Neohellenic', sans-serif;
    padding: 0 5px;
}
a.navbar-brand:hover {
    border-radius: 100vmax;
    transition: ease-in-out 275ms;
    font-size: 1.15em;
    padding: 5px;
}
.home-link {
    position: relative;
    display: block;
}
.nav-item span.home-link:before {
    width: 0;
    color: #65fce1;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}
.nav-item span.home-link:hover:before {
    width: 100%;
}
.nav-link {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
}
/***************/


/*span letters in titles*/
.theta {
    color: #d4c850;
    font-weight: bold;
}
.theta:hover {
    color: #fff;
}
.lambda {
    color: #d4c850;
}
.phi {
    color: #d4c850;
    animation: phi 4s infinite;
}
@keyframes phi {
    0% {
        color: #d4c850;
    }
    75% {
        color: #65fce1;
    }
    100%{
        color: #d4c850;
    }
}
.codes {
    color: #65fce1;
}
.codes:hover {
    color: #fff;
}
.white-font {
    color: #fff;
}
.white-font:hover {
    color: #fff;
}
/***************/

/* FORM CONTENT */
form.form-group.col-md-6.slide-right {
    margin: auto;
    top: 20px;
}

/*for login font*/
.login {
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
}
/***************/


/*template(s) heading*/
h2.template-h2 {
    font-family: 'Staatliches', cursive;
    color: #343a40;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.slide-right {
    font-family: 'Staatliches', cursive;
    color: #343a40;
}
/***************/


/* input & buttons */
input {
    border-color: #d4c850;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #343a40;
    font-family: 'Staatliches', cursive;
}
input:hover {
    color: #65fce1;
    transition: ease 295ms;
}
#login-input {
    border: none;
}
#register-input {
    border: none;
    text-align: center;
}

button {
    font-family: 'Staatliches', cursive;
    background-color: #d4c850;
    border-radius: 100vmax;
    border: 3px solid #343a40;
    margin-top: 15px;
    color: #343a40;
}
button:hover {
    transition: ease-out 295ms;
    background-color: #d4c850;
    color: #65fce1;
    cursor: pointer;
}
.about-div {
    align-items: center;
    text-align: center;
}
.edit-button:hover {
    background-color: #343a40;
    color: #f0d807;
    transition: ease-out 295ms;
}
.delete-button:hover {
    background-color: #343a40;
    color: #f00707;
    transition: ease-out 295ms;
}
/***************/

/*Responsive videos and screen-recorder */
.video-responsive {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    position: relative;
}
.video-responsive iframe {
    width:100%; height:100%;
    position:absolute;
    top:0; left:0;
}
video {
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
    border: 5px solid #d4c850;
    height: 100%;
}
a#downloadLink {
    font-family: 'Staatliches', cursive;
}

.html-video { width: 100%; height: auto; }

/* hide video response and comment forms*/
.video-response-form, .create-comment-form { display: none; }

/*************************************/



/*oc animated image*/
.circle {
    /*position: relative;*/
    height: 150px;
    width: 150px;
    margin: 10px auto;
    border: 17px solid blue;
    border-radius: 50%;
    align-items: center;
    animation: border-colors 5s ease-in-out infinite;
    /*box-shadow: 0 7px 11px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);*/
}
@keyframes border-colors {
    0%{
        border-color: #f7d000;
    }
    50%{
        border-color: #d4c850;
    }
    100%{
        border-color: #f7d000;
    }
}

/*the "c" in OC*/
.scircle {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 7%;
    border-right: 10px solid transparent;
    border-top: 10px solid #65fce1;
    border-left: 10px solid #65fce1;
    border-bottom: 10px solid #65fce1;
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: rotation 2s ease-in-out infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(-45deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }

    57%{
        border-color: #03fcdb;
        border-right: 10px solid transparent;
        opacity: 0.1;
    }
    100%{
        transform: rotate(315deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }
}
/***************/

/* TRIANGLE CONTAINER AND TRIANGLES ON LOGIN PAGE*/
.triangle-container {
    min-width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}
.triangle {
    height: 150px;
    width: 150px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #d4c850;
}
#tri-1 {
    animation: triangle-color 7s infinite ease-in-out;
}
#tri-2 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .05s;
}
#tri-3 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .10s;
}
#tri-4 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .15s;
}
#tri-5 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .20s;
}
#tri-6 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .25s;
}
#tri-7 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .30s;
}
#tri-8 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .35s;
}
#tri-9 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .40s;
}
#tri-10 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .45s;
}
#tri-11 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .50s;
}
#tri-12 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .55s;
}
#tri-13 {
    animation: triangle-color 7s infinite ease-in-out;
    animation-delay: .60s;
}
@keyframes triangle-color {
    0% {
        background-color: #d4c850;
    }
    25%{
        background-color: #65fce1;
    }
    55%{
        background-color: #d4c850;
    }
    75%{
        background-color: #65fce1;
    }
    100%{
        background-color: #d4c850;
    }
}
/***************/

/* DIAMOND CONTAINER AND DIAMONDS ON REGISTER PAGE*/
.diamond-container {
    min-width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}
.diamond {
    height: 150px;
    width: 150px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #d4c850;
}
#dia-1 {
    animation: diamond-color 7s infinite ease-in-out;
}
#dia-2 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .05s;
}
#dia-3 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .10s;
}
#dia-4 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .15s;
}
#dia-5 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .20s;
}
#dia-6 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .25s;
}
#dia-7 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .30s;
}
#dia-8 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .35s;
}
#dia-9 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .40s;
}
#dia-10 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .45s;
}
#dia-11 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .50s;
}
#dia-12 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .55s;
}
#dia-13 {
    animation: diamond-color 7s infinite ease-in-out;
    animation-delay: .60s;
}
@keyframes diamond-color {
    0% {
        background-color: #d4c850;
    }
    25%{
        background-color: #65fce1;
    }
    55%{
        background-color: #d4c850;
    }
    75%{
        background-color: #65fce1;
    }
    100%{
        background-color: #d4c850;
    }
}


/* ABOUT PAGE CSS */

.card-img-top {
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
    border: 11px solid #d4c850;
    animation: border-colors 3s ease-in-out infinite;
}

div.card.about-div {
    padding-top: 15px;
    background-color: #b9ede4;
}

.card-title {
    font-family: 'Staatliches', cursive;
}


/*testing boxes on profile page*/
.profile-box {
    height: 100px; width: 100px;
    border-radius: 50%;
    background-color: #d4c850;
    animation: profile-shape-colors 3s infinite ease;
}
@keyframes profile-shape-colors {
    0% {
        background-color: #d4c850;
    }
    50%{
        background-color: #65fce1;
    }
    100%{
        background-color: #d4c850;
    }

}

/*container for staggering gsap circles on bottom of several templates*/
.profile-box-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    padding-left: 27px;
}


/*arrows on how to page*/
#left-arrow {
    position: absolute;
    height: 100px;
    width: 175px;
    margin-left: 85%;
    margin-top: 7%;
    animation: arrows 3s ease-in-out infinite;
}
@keyframes arrows {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 7px, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
#right-arrow {
    position: absolute;
    height: 100px;
    width: 175px;
    margin-left: -125%;
    animation: arrows 3s ease-in-out infinite;
}
#cloud {
    position: absolute;
    height: 450px;
    width: 700px;
    left: 50%;
    top: 280%;
    transform: translate(-50%, -50%);
}