/*mediq queries*/
@media (max-width: 999px){
    .nav-item, a.nav-link {
        text-align: center;
        margin: auto;
    }
}
/***************/


/* settings for removing blue outline when input/button clicked */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*****************/

/*blockquote and pre tags*/
blockquote {
    padding: 10px 20px;
    border-left: 5px solid #f86466
}

pre {
    padding: 10px;
    background-color: #eff0f1;
    border: 1px solid #c8ccd0;
    border-radius: 5px;
    font-family: courier;
}
/****************/


/*navbar content*/
div#navbarSupportedContent.collapse.navbar-collapse {
    background-color: #d4c850;
    border-radius: 100vmax;
}

a.navbar-brand {
    font-family: 'GFS Neohellenic', sans-serif;
    padding: 0 5px;
}
a.navbar-brand:hover {
    border-radius: 100vmax;
    transition: ease-in-out 275ms;
    font-size: 1.15em;
    padding: 5px;
}
.home-link {
    position: relative;
    display: block;
}
.nav-item span.home-link:before {
    width: 0;
    color: #65fce1;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}
.nav-item span.home-link:hover:before {
    width: 100%;
}
.nav-link {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
}
/***************/


/*span letters in titles*/
.theta {
    color: #d4c850;
    font-weight: bold;
}
.theta:hover {
    color: #fff;
}
.lambda {
    color: #d4c850;
}
.phi {
    color: #d4c850;
    animation: phi 4s infinite;
}
@keyframes phi {
    0% {
        color: #d4c850;
    }
    75% {
        color: #65fce1;
    }
    100%{
        color: #d4c850;
    }
}
.codes {
    color: #65fce1;
}
.codes:hover {
    color: #fff;
}
.white-font {
    color: #fff;
}
.white-font:hover {
    color: #fff;
}
/***************/

/* FORM CONTENT */
form.form-group.col-md-6.slide-right {
    margin: auto;
    top: 20px;
}

/*for login font*/
.login {
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
}
/***************/


/*template(s) heading*/
h2.template-h2 {
    font-family: 'Staatliches', cursive;
    color: #343a40;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.slide-right {
    font-family: 'Staatliches', cursive;
    color: #343a40;
}
/***************/


/* input & buttons */
input {
    border-color: #d4c850;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:hover {
    color: #fff;
}
#login-input {
    border: none;
}
#register-input {
    border: none;
    text-align: center;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    border-radius: 100vmax;
    border: 3px solid #d4c850;
    margin-top: 15px;
}
button:hover {
    transition: ease 255ms;
    background-color: #d4c850;
    color: #fff;
    border-color: #343a40;
}
/***************/

/* responsive videos */
.video-responsive {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    position: relative;
}
.video-responsive iframe {
    width:100%; height:100%;
    position:absolute;
    top:0; left:0;
}

/* hide video response form */
.video-response-form { display: none; }

/*oc animated image*/
.circle {
    /*position: relative;*/
    height: 150px;
    width: 150px;
    margin: 10px auto;
    border: 17px solid blue;
    border-radius: 50%;
    align-items: center;
    animation: border-colors 5s ease-in-out infinite;
    /*box-shadow: 0 7px 11px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);*/
}
@keyframes border-colors {
    0%{
        border-color: #f7d000;
    }
    50%{
        border-color: #d4c850;
    }
    100%{
        border-color: #f7d000;
    }
}

.scircle {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 7%;
    border-right: 10px solid transparent;
    border-top: 10px solid #65fce1;
    border-left: 10px solid #65fce1;
    border-bottom: 10px solid #65fce1;
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: rotation 2s ease-in-out infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(-45deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }

    57%{
        border-color: #03fcdb;
        border-right: 10px solid transparent;
        opacity: 0.1;
    }
    100%{
        transform: rotate(315deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }
}
/***************/

/* TRIANGLE CONTAINER AND TRIANGLES */
.triangle-container {
    min-width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}
.triangle {
    height: 150px;
    width: 150px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #d4c850;
}