<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background-color: #d4c850">
<head th:replace="partials/partials :: head ('How-to')"></head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">

    <div class="card text-center border-0">
        <div class="card-header slide-right" style="background-color: #fff; padding: 15px 0; font-size: 2em; font-family: 'Staatliches', cursive;">
            How to Use OptikoCodes!
        </div>


        <div class="card mb-3 border-0">
            <img src="img/glasses.png" class="card-img-top" alt="...">
            <br>
            <p class="card-text"><small class="text-muted">Photo credit: <a href="https://www.pexels.com/@kevin-ku-92347">Kevin Ku</a></small></p>
            <div class="card-body">
                <h5 class="card-title" style="padding-top: 15px">We're very appreciative of your time and visit to our site!</h5>
                <p class="card-text">This page is a short and sweet set of instructions for signing
                    up and participating as an OptikoCoder.</p>
            </div>
        </div>
    </div>

    <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="img/sign-up.png" class="card-img" style="margin-top: 48px" alt="picture of OptikoCodes sign-up link in the nav-bar">
            </div>
            <div>
                <img src="img/left-arrow.png" id="left-arrow" alt="left-pointed arrow towards register screenshot">
            </div>
<!--            Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2207748">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2207748">Pixabay</a>-->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">First step is to sign-up</h5>
                    <p class="card-text">Our site requires you to have an account with us to post content.</p>
                    <p class="card-text">Click the Sign Up link in the nav-bar above to get started.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 float-right border-0" style="max-width: 540px;">
        <div class="row no-gutters">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Next, login to your account.</h5>
                    <p class="card-text">Once you've logged in, you will have access to a modified nav-bar.</p>
                </div>
            </div>
            <div>
                <img src="img/right-arrow.png" id="right-arrow" alt="right-pointed arrow towards login screenshot">
            </div>
            <div class="col-md-4">
                <img src="img/login.png" style="margin-top: 14px" class="card-img" alt="screenshot of login link in navbar">
                <!--            Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2207748">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2207748">Pixabay</a>-->
            </div>
        </div>
    </div>

    <h5 class="card-title text-center" style="margin-top: 23%; font-size: 1.5em">NOW YOU HAVE A FEW OPTIONS BASED ON WHAT YOU WISH TO DO!</h5>

    <div>
        <img src="img/cloud.png" id="cloud" alt="png image of a cloud raining binary">
<!--        Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3805852">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3805852">Pixabay</a>-->
    </div>

    <div class="card-deck border-0" style="margin-top: 35%">
        <div class="card border-0">
            <img src="img/fizzbuzz.png" class="card-img-top" alt="picture of a posted question example">
            <div class="card-body">
                <h5 class="card-title">Post a question</h5>
                <p class="card-text">If you have a programming or code question, you can create a new post by selecting "Ask a Question" on the navbar.</p>
                <p class="card-text">Type out your question with pertinent details on what the issue is you're facing.</p>
                <p class="card-text">Select "CODE" to paste in your code, and submit it for others to see (Shift-Enter for multiple/additional lines).</p>
                <p class="card-text">Check out any other features you may find helpful on the body options, such as text styling or the code view!</p>
                <p class="card-text">Once you've got everything the way you want, select "Submit Question" beneath the text-body.</p>
            </div>
        </div>
        <div class="card border-0">
            <img src="img/answer.png" class="card-img-top" alt="picture of a response answer example">
            <div class="card-body">
                <h5 class="card-title">Respond with a video</h5>
                <p class="card-text">Provide a solution! Our site is intended to provide a detailed video response to a post to better assist visual learners.
                Once a post with a question is created by a user, it will be populated on the home page. Select the post you wish to respond to, and upload a video.</p>
                <p class="card-text">We have also provided you a built-in screen-recorder for your convenience! If you use it, you can download the video file once you stop recording, and
                    drag and drop to upload it as your video response (Must have mic and screen-sharing enabled to use). </p>
            </div>
        </div>
        <div class="card border-0">
            <img src="img/comment.png" class="card-img-top" alt="picture of a comment example">
            <div class="card-body">
                <h5 class="card-title">Contribute with comments</h5>
                <p class="card-text">Share with others your thoughts on the video reaponse, constructive feedback, or related questions someone else may provide additional insight to!</p>
                <p class="card-text">If you ever wish to remove your comments, you always have the ability to do so if you're logged in. You can also post multiple comments - there is no limit.</p>
                <p class="card-text">Please be cognizant of the author's quest to find a solution to their question - constructive comments are the best comments.</p>
                <p class="card-text">Please keep your comments related to a programming/coding criterion.</p>
            </div>
        </div>
    </div>



</div>
<!--main container ends-->

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>